{% extends 'core/base.html'%}

{% block title%}Contact page{% endblock %}

{%block content%}
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-5 text-2xl">For any queries regarding webapp reach us at:</h2>
    <ul>
        <li><a href="#" class="hover:bg-yellow-700">21CS026@charusat.edu.in</a></li>
        <li><a href="#" class="hover:bg-yellow-700">21CS027@charusat.edu.in</a></li>
        <li><a href="#" class="hover:bg-yellow-700">21CS035@charusat.edu.in</a></li>
    </ul>
</div>
{% endblock %}